<div ng-controller="OverlayPlaylistCtrl">
    <div class="overlay-header">
        <h1>
            {{lang.playlists.title}}<a id="close-overlay" class="overlay-btn" ng-click="closeOverlay()"><i class="fi-x"></i></a>
        </h1>
    </div>
    <div class="overlay-btn-group btn-group-2 clearfix">
        <a ng-click="selectView('ptp','playlists-ptp.html')" ng-class="{active:selectedView.name == 'ptp'}">{{lang.playlists.sub.ptp}}</a>
        <a ng-click="selectView('time','playlists-time.html')" ng-class="{active:selectedView.name == 'time'}">{{lang.playlists.sub.time}}</a>
    </div>

    <div ng-include src="selectedView.url"></div>
</div>