<div ng-controller="OverlayQueueCtrl">
    <div class="overlay-header">
        <h1>
            {{lang.queue.title}}<a id="close-overlay" class="overlay-btn" ng-click="closeOverlay()"><i class="fi-x"></i></a>
        </h1>
    </div>
    <table class="oeplayer-table">
        <thead>
            <tr>
                <th>{{lang.queue.table.title}}</th>
                <th>{{lang.queue.table.artist}}</th>
                <th>{{lang.queue.table.album}}</th>
                <th>{{lang.queue.table.energy}}</th>
                <th>{{lang.queue.table.block}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="track in tracks track by $index">
                <td>{{track.title}}</td>
                <td>{{track.artist}}</td>
                <td>{{track.album}}</td>
                <td>{{track.energy}}</td>
                <td class="icon"><a ng-click="blockTrack(track)"><i class="fi-prohibited" ng-disabled="track.blocked"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>