<div ng-controller="PlayerCtrl" id="player-wrapper">
    <div id="menu" ng-class="{display:ready}">
        <img src="assets/img/logo.png">
        <i ng-repeat="item in menu track by $index" ng-click="swappingTracks || openOverlay(item.name)" class="fi-{{item.icon}}" ng-class="{active:item.active}" ng-disabled="swappingTracks"><span>{{item.display}}</span></i>
        <i ng-click="swappingTracks || restart()" ng-disabled="swappingTracks" class="fi-loop"><span>{{lang.menu.restart}}</span></i>
        <i ng-click="logOff()" class="fi-power"><span>{{lang.menu.logout}}</span></i>
    </div>
    <div id="main">
        <div id="blur-wrapper">
            <div id="system-messages">
                <p>{{status.status}}</p>
            </div>
            <div id="track-info" ng-class="{display:ready}">
                <div id="track-title">{{currentTrack.title}}</div>
                <div id="track-artist">{{currentTrack.artist}}</div>
                <div id="track-playlist">{{player.venueName}} - {{playlist.name}} {{pushToPlay ? ' - Push to play ' : ''}} {{playlist.end ? ' - ends '+playlist.end : ''}}</div>
            </div>
            <div id="download-progress" class="progress-circle" ng-class="{display:!ready}">
                <div
                    round-progress
                    max="tracksNeeded"
                    current="unavailableTracks.length"
                    color="#26cd7d"
                    bgcolor="#1c1d25"
                    radius="100"
                    stroke="10"
                    semi="false"
                    rounded="false"
                    clockwise="false"
                    responsive="false"
                    duration="800"
                    animation="easeInOutQuart">
                </div>
            </div>
            <div id="track-progress" class="progress-circle" ng-class="{display:ready}">
                <div
                    round-progress
                    max="timer.durationSec"
                    current="timer.elapsedSec"
                    color="#3498db"
                    bgcolor="#30343f"
                    radius="100"
                    stroke="10"
                    semi="false"
                    rounded="false"
                    clockwise="true"
                    responsive="false"
                    duration="100"
                    animation="easeInOutQuart">
                </div>
            </div>
            <div id="online-status">
                <span ng-disabled="!player.online">{{lang.player.online}}</span>
                <span ng-disabled="player.online">{{lang.player.offline}}</span>
            </div>

            <div id="player-controls" ng-class="{display:ready}">
                <div id="skip-back" class="skip-btn">
                    <i ng-click="swappingTracks || skipBack()" class="fi-previous" ng-disabled="swappingTracks || player.currentIndex < 1"></i>
                </div>
                <div id="play-pause">
                    <i class="fi-play" ng-class="{display:currentTrack.isPaused}" ng-click="swappingTracks || playPause()" ng-disabled="swappingTracks"></i>
                    <i class="fi-pause" ng-class="{display:!currentTrack.isPaused}" ng-click="swappingTracks || playPause()" ng-disabled="swappingTracks"></i>
                </div>
                <div id="skip-forward" class="skip-btn">
                    <i ng-click="swappingTracks || skipForward()" class="fi-next" ng-disabled="swappingTracks"></i>
                </div>
            </div>
        </div>
        <div class="track-timer" id="track-duration" ng-class="{display:ready}">{{timer.duration}}</div>
        <div class="track-timer" id="track-elapsed" ng-class="{display:ready}">{{timer.elapsed}}</div>
        <div id="last-played">
            <i id="open-last-played" class="fi-play" ng-click="openLastTracks()"></i>
            <h2>{{lang.player.lastplayed.title}}</h2>
            <table class="oeplayer-table" ng-if="player.lastPlayed.length > 0">
                <thead>
                    <tr>
                        <th>{{lang.player.lastplayed.table.title}}</th>
                        <th>{{lang.player.lastplayed.table.album}}</th>
                        <th>{{lang.player.lastplayed.table.artist}}</th>
                        <th>{{lang.player.lastplayed.table.played}}</th>
                        <th>{{lang.player.lastplayed.table.block}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="track in player.lastPlayed track by $index">
                        <td>{{track.title}}</td>
                        <td>{{track.album}}</td>
                        <td>{{track.artist}}</td>
                        <td>{{track.time}}</td>
                        <td class="icon"><a ng-click="blockTrack(track)"><i class="fi-prohibited" ng-disabled="track.blocked"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="energy-slider" ng-class="{display:ready}">
        <h2>Energy <br/>Slider</h2>
        <div class="switch">
            <input type="checkbox" id="energy_checkbox" ng-value="energy.status" ng-click="energise()" class="cmn-toggle cmn-toggle-round-flat" ng-disabled="swappingTracks">
            <label for="energy_checkbox"></label>
        </div>
        <div id="energy-slider-wrapper">
            <input type="range" ng-model="energy.level" min="1" max="10" ng-disabled="!energy.status" ng-mouseup="changeEnergy()" ng-touchend="changeEnergy()">
        </div>
    </div>
    <div id="overlay" ng-class="{active:overlayActive}" ng-controller="OverlayCtrl">
        <div ng-include="overlayTemplate" class="overlay-wrapper clearfix"></div>
    </div>
</div>