@media only screen and (max-width:1921px){
	#energy-slider-wrapper input {
		width:700px;
		left:-3320%;
	}
	input.cmn-toggle-round-flat + label{
		max-width: 120px
	}
}
@media only screen and (max-width:1441px) {
    #energy-slider-wrapper input {
        width:550px !important;
        left:-2680% !important;
    }
}
@media only screen and (max-width:1367px) {
	#track-title {
	    font-size: 18px;
	    padding: 0 5px;
	}
	#track-artist {
    	font-size: 14px;
	}
	#track-playlist {
	    font-size: 12px;
	}
	#energy-slider-wrapper input {
		width:550px;
		left:-2680%;
	}
	#menu i{
		padding: 10px 0;
	}
	#system-messages, #loading{
		font-size: 12px;
	}
	#player-controls,.progress-circle{
		top:60%;
	}
	#online-status{
		top:70%;
	}
}
